:root {
    --card: #f3f1f1;
    --cor-primaria: #f05900;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #181F56;
}

@media screen and (max-width: 730px) {
    
    .logo {
        width: 4.5rem;
        height: 2.8rem;
    }

    .menu {
        display: none;
    }

    .menu-burguer {
        display: block;
        background-color: transparent;
        width: 25px;
        height: auto;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        position: absolute;
        margin-top: 100px;
        display: none;
        width: 100%;
    }

    .mobile-menu .mobile-itens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mobile-menu .mobile-itens li {
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        padding: 10px 0;
        width: 100%;
        background-color: var(--cor-primaria);
        text-align: center;
    }

    .mobile-menu .mobile-itens li:hover {
        background-color: #f06b1e;
        transition: all .4s;
     }
 
    .mobile-menu .mobile-itens li a {
        color: var(--cor-secundaria); 
        transition: .2s; 
    }

    .mobile-menu .mobile-itens li a:hover {
        color: var(--cor-tercearia);  
    }

    .open {
        display: block;
        animation: slide-menu 1s;
        -webkit-animation: slide-menu 1s;
    }

@media screen and (max-width: 450px)  {
    
    header {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .container {
        position: absolute;
    }
    
    .mobile-menu {
        position: absolute;
        margin-top: 100px;
        display: none;
        width: 100%;
    }
   
    .mobile-menu .mobile-itens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 100px);
    }

    .mobile-menu .mobile-itens li {
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--cor-primaria);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .open {
        display: block;
        animation: slide-menu 1s;
        -webkit-animation: slide-menu 1s;
    }
}

@keyframes slide-menu {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes slide-menu {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
}