* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card: #f3f1f1;
    --cor-primaria: #f05900;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #181F56;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* MENU */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    width: 100%;
    background-color: var(--card);
    padding: 0 1.87rem;
    position: fixed;
    transition: all .4s;
}

.logo {
    width: 6.87rem;
    height: 4.37rem;
    transition: .4s;
}

.menu {
    display: flex;
    gap: 2.5rem;
}

.menu-burguer {
    display: none;
}

.menu li a {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-primaria);
    padding-bottom: 5px;
    position: relative;
}

.menu li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-primaria);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu li a:hover {
    color: var(--cor-tercearia);
    transition: .2s ease-in-out;
}
.menu li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Hero */

.hero {
    height: 100vh;
    margin-top: 10px;
    background: rgba(0, 0, 0, .8) url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
}

.hero-content {
    padding: 0 1.87rem;

}
h1 {
    color: var(--cor-primaria);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
}

p {
    color: var(--cor-secundaria);
    font-size: 0.87rem;
}

/* Hero */
