* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181F56;
}

:root {
    --roboto: font-family: 'Roboto', sans-serif;
    --poppins: font-family: 'Poppins', sans-serif;
    --card: #EEEBEB;
    --cor-primaria: #f05900;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #181F56;
}

.container {
    max-width: 23.44rem;
    height: 4.37rem;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container img {
    width: 4.37rem;
    height: auto;
}
