* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
}

:root {
    --roboto: font-family: 'Roboto', sans-serif;
    --poppins: font-family: 'Poppins', sans-serif;
    --card: #EEEBEB;
    --cor-primaria: #f05900;
    --cor-secundaria: #ffffff;
    --cor-tercearia: #181F56;
}

